@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
    font-family: 'Keroine';
    src: url('../fonts/Keroine/KeroinePRO-DouxExtreme.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Keroine';
    src: url('../fonts/Keroine/KeroinePRO-IntenseLegere.otf');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}



/* VARIABLES */

:root {
  /* Color values */
  --color-background: white;
  --color-text: rgb(59, 18, 6);
  --color-text-link: rgb(255, 168, 197);
  --color-text-link-hover: rgb(255, 27, 103);
  /* Font values */
  /* --font-size:25px; */
  --margin: 0;
  /* margin-top: -3%;
  margin-left: 25%;
  margin-right: 25%; */

}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  /* font: var(--font-size) var(--font-family); */
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
}

a {
  color: var(--color-text-link);
}

a:hover {
  color: var(--color-text-link-hover);
}

header {
  box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0 0 0;
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: background-color 0.5s ease;
}

nav ul {
  list-style: none;
  margin-left: 2%;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}


.imagery{
border: 1px solid black;
height: 590px;
/* margin-left: -35%;
margin-right: -35%; */
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align:justify;
  padding-left:25%;
  padding-right:25%;
  box-sizing: content-box;
}

p{
  text-indent: 100px;
  font-size: 25px;
  text-align: justify;
  text-justify: inter-word;
}


#name{
  text-align: right;
  text-transform: uppercase;
  margin-right: -45%;
}


h1{
  color: var(--color-text-captions);
  font-size: 120px;
  text-align: center;
  margin-left: -45%;
  margin-right: -45%;
}


h2{
  color: var(--color-text-captions);
  font-size: 57px;
  text-align: center;
  margin-left: -45%;
  margin-right: -45%;
}


h3{
  font-size: 30px;  
  font-style: italic;
  color: var(--color-text-captions);
  text-indent: 100px;
}



h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  /* paragraph style */
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */
 
nav{
  
}

/* content */

main{
 
}

summary{
  
}






/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.your-selector-for-margin {
  margin-left: 2%; /* Adjust the margin value as needed */
  margin-right: 2%;
}



/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */

  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

  main {
    padding-left: 5%; /* Adjust padding values as needed */
    padding-right: 5%; /* Adjust padding values as needed */
  }

  p {
    text-indent:50px; /* Adjust text-indent as needed */
    font-size: 14px;
  }

  h1 {
    font-size: 85px; /* Adjust font size as needed */
  }

  h2 {
    font-size: 44px; /* Adjust font size as needed */
  }

  h3 {
    font-size: 16px;
    text-indent: 50px; /* Adjust text-indent as needed */
  }
  #name{
    font-size: 14px;
    padding: 10px; /* Adjust as needed */
    margin: 10px; /* Adjust as needed */
  }

  h1,
  h2,
  h3,
  #info
   {
    margin-left: 0; /* Reset margin-left */
    margin-right: 0; /* Reset margin-right */
  }
}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


