@charset "UTF-8";

@font-face {
    font-family: 'Keroine';
    src: url('../fonts/Keroine/KeroinePRO-DouxExtreme.otf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'Nameless';
  src: url('../fonts/Nameless/Nameless-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Compagnon';
  src: url('../fonts/Compagnon/Compagnon-Bold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
    font-family: 'Keroine';
    src: url('../fonts/Keroine/KeroinePRO2023-IntenseLegere.otf');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

:root {
  --color-background: rgb(255, 255, 255, .96);
  --color-text: rgb(84, 8, 8);
  --color-text-link: rgb(182, 36, 36);
  --color-text-link-hover: rgb(248, 0, 0);
  --color-spirit:rgb(94, 136, 144);
  font-family: 'Keroine';
  --margin: 0;
}

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
  counter-reset: sidenote-counter;

}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-link-hover);
}

header {
  box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0 0 0;
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

.burger-menu{
  display: none;
}

main{
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 25%;
  padding-right: 25%;
  box-sizing: content-box;
}

p{
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-word;
}

p > .sidenote-wrapper {
  text-indent: 0;
}

#name, #footer{
  text-align: right;
  font-size: 1rem;
  margin-right: 3%;
  color: var(--color-text-link); 
}

#name {
  text-transform: uppercase;
}

h1 {
  color: var(--color-text-captions);
  z-index: 1;
  font-size: 15rem;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  /* padding-top: -5%; */
  font-weight: normal;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  line-height: 95%;
}

/* .landingpage {
  position: relative;
  width: 100vw;
  margin-top: 0%;
  position: absolute;
}

.landingpage_mobile{
  display: block;
} */


h2{
  color: var(--color-text-link-hover);
  font-size: 7rem;
  text-align: center;
  padding-left:3rem;
  padding-right:3rem;
  font-weight: normal;
  font-style: italic;
  text-decoration: underline 0.125rem;
}

h3{
  font-size: 2.6rem;  
  font-weight: normal;
  text-align: left;
  color: var(--color-text-captions);
  margin:0;
  padding-top:3rem;
  padding-bottom:1rem;
  /* font-family: 'Nameless' */
}

h4 {
  font-family: 'Compagnon';
  font-size: 1.2rem;
  text-align: center;
  padding-left:3rem;
  padding-right:3rem;
  font-weight: normal;
  /* font-style: italic;  */
}

h4 span {
  text-align: center;
  color: var(--color-text) !important;
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--color-text);
}

h4 span:hover {
  background-color: transparent;
}

.spirit{
  font-family: 'Compagnon';
  font-size: 1.2rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: normal;
  color: var(--color-text);
  background-color: var(--color-text);
}

.spirit:hover {
  background-color: transparent;
}

h5{
  font-size: 1.4rem;
  font-weight: normal;
  /* color: var(--color-text-link); */

  /* text-align: right; */
  
}

.main-header {
  position: fixed;
  top: 0;
  z-index: -1;
}
.thesis {
  /* position: relative; */
  margin-top: 100vh;
  padding-top: 0.025rem;
  box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
  /* z-index: +1; */
}
.chapter-header{
  display: block;
  text-transform: uppercase;
  padding: 0;
  z-index: 80;
  line-height: 20px;
  margin-left: -47%;
}

.lines{
  border: none; 
  height: 1px;
  background-color: var(--color-text-link-hover);
  margin: 20px 0; 
  
}

#chp-head-0,#chp-head-1, #chp-head-2,#chp-head-3,#chp-head-4,#chp-head-5,#chp-head-6,#chp-head-7 {
  position: sticky;}

#chp-head-0{
  top: 1.5rem;}
#chp-head-1 {
  top: 3.5rem;}
#chp-head-2 {
  top: 5.5rem;}
#chp-head-3 {
  top: 7.5rem;}
#chp-head-4 {
  top: 9.5rem;}
#chp-head-5 {
  top: 11.5rem;}
#chp-head-6 {
  top: 13.5rem;}
#chp-head-7{
  top: 15.5rem;}

.mobile-only-text {
  display: none; 
}

/* footnotes */

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -35%;
    width: 40%;
    margin-bottom: 0;
    margin-left: 0.3rem;
    font-size: 1rem;
    line-height: 1.3;
    padding-left: 1.5rem;
    vertical-align: baseline;
    position: relative;
    text-align: left;
    border: 0.5rem solid transparent;
    padding-top: 1rem;
  }

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  /* font-size: 1rem; */
  top: -0.5rem;
}

input.margin-toggle {
  display: none;
}


label.margin-toggle:not(.sidenote-number) {
  display: none;
}

#chapter-7{
  color: var(--color-text-link);
}

.bibliography-text > p:not(b > p){
  color: var(--color-text-link);
  font-size: 1rem;
  text-align: left;
}

.bibliography-text > p:hover:not(b > p) {
  color: var(--color-text-link-hover);
}

.bibliography-text > p {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.bibliography-text > p:last-child {
  margin-bottom: 0;
  padding-bottom: 1em;
}
span {
  color: var(--color-text-link-hover);
}

.caption {
  width: 19vW;
  float: left;
  margin-left: -32%;
  margin-top: -3vH;
  margin-bottom: -1rem;
  position: relative;
  font-size:1rem;
  text-align: justify;
  color: #ef2a30;
  hyphens: auto;
  line-height: 130%;
  padding: 2vW;
  text-align: right;
}

/* .term {
  color: #ef2a30;
} */

.caption img {
  width: 19vW;
  margin-bottom:1vH;
}


/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}


/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.your-selector-for-margin {
  margin-left: 2%; 
  margin-right: 2%;
}







/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  main {
    padding-left: 5%; 
    padding-right: 5% !important; 
  }

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }


  #name{
    padding: 5%;
  }

  p {
    /* text-indent:3rem;  */
    font-size: 0.95rem;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 110%;
    padding-left: 0%;
    padding-right: 0%;
  }

  h2 {
    font-size: 2.1rem; 
    /* padding-top: 1rem; */
  }

  h3 {
    font-size: 1.5rem;
    text-align: left;
  }

  h4, h5, .spirit{
    font-size: 0.95rem;
  }


  #name a{
    font-size: 0.95rem;
    color: transparent !important;
  }

  h1,
  h2,
  h3,
  #name
   {
    margin-left: 0;
    margin-right: 0; 
  }
  
  p a {
    /* text-indent: 2em;  */
  }

  .sidenote-number:after {
    font-size: 0.7rem;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .bibliography-text > p:not(b > p){
    color: var(--color-text-link);
    font-size: 0.8rem;
    text-align: left;
  }

  .sidenote,
  .marginnote {
      display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
      display: block;
      float: left;
      font-size: 0.9rem;
      clear: both;
      width: 85%;
      margin: 1rem 2.5%;
      position: relative;
  }

  nav{
      display: flex;
      margin-right: 5%;
    }
    
  nav ul {
      list-style: none;
      margin-left: 5%;
      padding: 0;
    }
    
  nav a {
      text-decoration: none;
      margin-left: 0.5rem;
    }

  .chapter-header {
    display: block;
    text-align: right;
    text-transform: uppercase;
    z-index: 50;
    background-color: white;
    margin-left: 45%;
  }

  #chp-head-0, #chp-head-1, #chp-head-2, #chp-head-3, #chp-head-4, #chp-head-5, #chp-head-6, #chp-head-7 {
    display: block;
    top: 0.7rem;
    color: var(--color-text-link);
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  /* Styling for the dropdown when it's open */
  .dropdown.active {
    display: block;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    margin-bottom: 1rem;
  }

  .button {
    display: inline-block;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    text-decoration: none;
    background-color: white;
    color: var(--color-text-link-hover);
  }
  
  .burger-menu {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5%;
    margin-top: -0.3rem;
    z-index: 80;
  }
  
  .burger-icon {
    color: var(--color-text-link);
    text-transform: uppercase; 
  }

  .button {
    display: inline-block;
    padding-left: 0.8rem;
    box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
    padding-right: 0.5rem;
    text-decoration: none;
    /* background-color: var(--color-text-link-hover);
    color: var(--color-text-link-hover); */
  }

   /* ul{ 
    background-color: aqua;
    z-index: 80;
    width: 50%;
    padding: 1rem;
   } */

  .caption {
    width: 100%;
    float: left;
    clear: left;
    margin-left: 0;
    /* margin-top: 1vH; */
    margin-bottom: 1vH;
    vertical-align: baseline;
    position: relative;
    font-size:0.8rem;
    text-align: left;
    line-height: 120%;
    padding: 0;
    margin-top: auto;
}

  .caption img {
    width: 100%;
  }

  .spirit{
    padding-top: 0.03rem;
    padding-bottom: 0.03rem;
  }


}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

  main {
    padding-left: 5%; 
    padding-right: 5%; 
  }


  #name{
    padding: 5%; 
  }

  h1,
  h2,
  h3,
  #name
   {
    /* margin-left: 0; */
    /* margin-right: 0;  */
  }

  h1 {
    font-size: 10rem; 
    line-height: 100%;
  }

  h2 {
    font-size: 4.5rem; 
  }

  h3 {
    font-size: 3rem;
    text-indent: 0; 
    text-align: left;
  }
  #name{
    font-size: 0.8rem;
    margin-right: -2.6%;
  }

  .sidenote,
  .marginnote {
      float: right;
      clear: right;
      margin-right: 0%;
      width: 30%;
      margin-bottom: 0;
      margin-left: 0.3rem;
      font-size: 1.1rem;
      line-height: 1.3;
      padding-left: 1.5rem;
      vertical-align: baseline;
      position: relative;
      text-align: left;
      border: 0.5rem solid transparent;
      padding-top: 1rem;
    }

  nav{
    display: flex;      
    margin-right: 2%;
  }
    
  nav ul {
      list-style: none;
      margin-left: 2%;
      padding: 0;
    }
    
  nav a {
      text-decoration: none;
      margin-left: 0.5rem;
    }

  .chapter-header {
    display: block;
    text-align: right;
    text-transform: uppercase;
    z-index: 50;
    background-color: white;
    margin-left: 75%;
    margin-right: -3%;
    text-decoration: none;
    list-style: none;
  }

  #chp-head-0, #chp-head-1, #chp-head-2, #chp-head-3, #chp-head-4, #chp-head-5, #chp-head-6, #chp-head-7 {
    display: block;
    top: 0.48rem;
    color: var(--color-text-link-hover);
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
  /* Styling for the dropdown when it's open */
  .dropdown.active {
    display: block;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    margin-bottom: 1rem;
  }
  .button {
    display: inline-block;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    text-decoration: none;
    background-color: white;
    color: var(--color-text-link-hover);
  }
  
  .burger-menu {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5%;
    margin-top: -0.3rem;
    z-index: 80;
  }
  
  .burger-icon {
    color: var(--color-text-link);
    text-transform: uppercase; 
    margin-left: -1.4rem;
  }

  .button {
    display: inline-block;
    padding-left: 0.8rem;
    box-shadow: rgb(255, 255, 255) 0px 0px 1rem 1rem;
    padding-right: 0.5rem;
    text-decoration: none;
  }

  /* ul {
    padding-left: 1rem;
  } */


  .caption {
    width: 100%;
    float: left;
    clear: left;
    margin-left: 0;
    margin-bottom: 1vH;
    vertical-align: baseline;
    position: relative;
    font-size:0.8rem;
    text-align: left;
    line-height: 120%;
    padding: 0;
    margin-top: auto;
}

  .caption img {
    width: 100%;
  }



}


